.category_card{

  display: flex;
  align-items: center;
  height: 30px;

  &:hover{  
    cursor: pointer;
    color: var(--tertiary-color-light);
    background-color: var(--hover-color);
  }

  p{
    margin-left: 15px;
    font-weight: bold;
  }

}