.shop_card{

  background-color: var(--primary-color-light);
  padding: 20px;
  border-radius: 8px;
  border: 3px solid var(--secondary-color-light);
  width: 200px;

  &:hover{
    background-color: var(--hover-color);
    cursor: pointer;
  }

}