.index{

  color: var(--text-color);

  .container{

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .images_input_container{
      display: flex;
      gap: 10px;
    }

    .thumbnail{

      width: 200px;
      height: 200px;
      border: 2px solid var(--tertiary-color-light);
    
    }  

  }


}