@import '../../variables';

.sign_in_footer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 12px;
  gap: 10px;

  .terms_and_conditions_and_privacy_policy{
    display: flex;
    gap: 10px;
    font-family: $main-font;
    text-decoration: underline;
    font-family: $main-font;
    justify-content: center;
    align-items: center;
  
    .link{
      color: $dark-gray;
    }
  
    .link:hover{
      color: $dark-blue;
    }

    .credits{
      font-size: 12px;
    }
  
  }
  
}

