.index{

  color: var(--text-color);

  .products_container{

    .filter_line{
      display: flex;
      gap: 10px;
    }

  }

  .line{

    display: flex;
    gap: 30px;

  }

  .is_available_only_container{

    display: flex;
    gap: 15px;

    input[type=checkbox]{

      width: 17px;
      height: 17px;

    }

  }

}