@import "../../../variables";

.footer_component{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $main-font;
  margin: 0 25px;

  .title{
    font-weight: bolder;
    font-size: 15px;
    color: white;
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;

    .link{
      color: white;

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }

    }
  }

}