@import "../variables.module.scss";
  
.rectangular_button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 330px;
  height: 44px;
  font-family: $main-font;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid var(--primary-color-dark);
  background-color: var(--primary-color-light);
  border-radius: 3px;
  color: var(--text-color);
}

.rectangular_button:hover{
  cursor: pointer;
  border: 1px solid var(--secondary-color-dark);
  color: var(--navbar-button-color);
}

.orange_button{
  background-color: $light-orange;
  border: 1px solid $brownish-orange;
}

.orange_button:hover{
  cursor: pointer;
  background-color: #f39834;
  border: 1px solid $brownish-orange;
  color: black;
}