@import "../variables.module.scss";

.square_card{

  width: 150px;
  height: 150px;
  background-color: var(--primary-color-light);
  border: 3px solid var(--secondary-color-light);
  color: var(--text-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-family: $main-font;
  transition: all 0.1s ease-in-out;
  gap: 10px;

  .icon{
    height: 60px;
  }

  &:hover{
    background-color: var(--hover-color);
    cursor: pointer;
    transform: scale(1.03, 1.03);
  }

}