@import "../../variables.module.scss";

.hamburger_menu{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 28px;
  height: 28.7px;
  border-radius: 100px;
  padding: 10px;
  background-color: white;
  transition: background-color 0.1s linear;

  .line{
    background-color: $dark-gray;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 10px;
  }

}

.hamburger_menu:hover{
  background-color: $light-gray;
  cursor: pointer;
}