@import "../../variables.module.scss";

.navbar{

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--navbar-background-color);
  color: var(--text-color);

  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: var(--navbar-background-color);
    padding: 0 15px;
    gap: 5px;
  }
  
  .bottom{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 5px 20px;

    .left{
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: hidden;
    }

    .left:hover{
      overflow-x: auto;
    }

    .left::-webkit-scrollbar {
      height: 3px;
      border-radius: 100px;
    }
    
    .left::-webkit-scrollbar-track {
      background: orangered;
      border-radius: 100px;
    }
    
    .left::-webkit-scrollbar-thumb {
      background: var(--text-color);
      border-radius: 100px;
    }

    .right{
      display: flex;
      gap: 15px;
    }

  }



  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

}