@import "../../variables.module.scss";

.newEgg_business{
  font-size: 0.75rem;
  font-weight: bolder;
  width: fit-content;
  white-space: nowrap;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 34px;
  padding: 5px 8px;
  margin-left: 15px;
  gap: 3px;
  
  .newEgg_left{
    color: var(--navbar-button-color);
  }

}

.newEgg_business:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}