@import "../../variables.module.scss";

.notification_button{

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid var(--text-color);
  transition: background-color 0.1s linear;
  min-width: 35px;
  height: 35px;

  .icon{
    height: 20px;
  }

}

.notification_button:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}